#altair
#appdirs
asgiref
#attrs
beautifulsoup4
blinker
Bottleneck 
brotlipy
cachetools
#certifi 
#cffi 
charset-normalizer 
click
contourpy
crispy-bootstrap5
cryptography 
cycler
decorator
Django
django-bootstrap-v5
django-crispy-forms
django-widget-tweaks
entrypoints
fonttools
gitdb
GitPython
idna 
#image
importlib-metadata
Jinja2
joblib 
jsonschema
kiwisolver
kmodes
markdown-it-py
MarkupSafe
matplotlib
mdurl
#missingno
#mkl-fft
#mkl-random 
#mkl-service
numexpr 
numpy 
packaging 
pandas
patsy
#Pillow
#pip-chill
pooch 
protobuf
py4j
pyarrow
pycparser 
pydeck
Pygments
Pympler
pyOpenSSL 
pyparsing
pyrsistent
PySocks 
#pyspark
python-dateutil 
#pytz k
pytz-deprecation-shim
requests 
rich
#sas7bdat
scikit-learn 
scipy
seaborn
semver
six 
smmap
soupsieve
sqlparse 
statsmodels 
#streamlit
threadpoolctl 
toml
toolz
tornado
typing_extensions
tzdata
tzlocal
urllib3 
validators
watchdog
zipp
streamlit
