asgiref==3.6.0
beautifulsoup4==4.12.2
crispy-bootstrap5==0.7
cycler==0.11.0
distlib==0.3.6
Django==4.2
django-bootstrap-v5==1.0.11
django-crispy-forms==2.0
django-widget-tweaks==1.4.12
entrypoints==0.4
filelock==3.12.0
fonttools==4.39.3
gevent==22.10.2
GitPython==3.1.31
greenlet==2.0.2
gunicorn==20.1.0
joblib==1.2.0
jsonschema==4.17.3
kiwisolver==1.4.4
matplotlib==3.7.1
numpy==1.24.2
pandas==1.5.3
patsy==0.5.3
scikit-learn==1.2.2
scipy==1.10.1
sqlparse==0.4.4
statsmodels==0.13.5
threadpoolctl==3.1.0
whitenoise==6.4.0
streamlit==1.21.0
kmodes==0.12.2
seaborn==0.12.2
